@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<title>This is Neha's Demo for Devops</title>
<div class="text-center">
   
    <h1 class="display-4">Hello Judges!!</h1>
    
    <p>Devops project by group 10. SUMIT NEHA ANSH</p>
 </div>
