@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<title>Devops_Editor</title>
<div class="text-center">
   
    <h1 class="display-7">Welcome to Devops</h1> <hr>
    
    <p>This is a sample web page created for the demonstration of the project.
    </p><hr>
    <p>Group 10</p>
    
 </div>
