@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Neha!!</h1>
    <title>This is Neha's Demo for Devops</title>
    <p>Devops project by group 10.</p>
 </div>
