@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<title>Devops_Editor</title>
<div class="text-center">
   
    <h1 class="display-4">Hello JUDGES!!</h1>
    <p>DevOps influences the application lifecycle throughout its plan, develop, deliver, and operate phases. Each phase relies on the others, and the phases are not role-specific. In a true DevOps culture, each role is involved in each phase to some extent.</p>
    
 </div>
